@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

li {
  list-style: none;
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: hsl(240, 100%, 5%);
  background-color: hsl(36, 100%, 99%);
}

h1 {
  font-size: 34px;
}

p {
  line-height: 1.67em;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 1.4em;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .container {
    padding: 0;
  }
}

.navigation {
  height: 6.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: hsl(36, 100%, 99%);
}
.navigation__logo {
  height: auto;
  background-image: url("/images/logo.svg");
}
.navigation__block {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navigation__list {
  position: absolute;
  right: 0;
  top: 6.5em;
  width: 60%;
  padding: 0 1.6em;
  padding-top: 2.66em;
  height: 100vh;
  background-color: hsl(36, 100%, 99%);
}
@media (min-width: 992px) {
  .navigation__list {
    height: 100%;
    padding: 0;
    position: unset;
    align-items: center;
  }
}
.navigation__list::after {
  content: "";
  position: absolute;
  left: -70%;
  top: -6.5em;
  width: 70%;
  height: 100vh;
  padding: 0;
  background-color: black;
  opacity: 0.3;
}
@media (min-width: 992px) {
  .navigation__list::after {
    display: none;
  }
}
.navigation__list-link {
  line-height: 2.6em;
}
.navigation__list-link:hover {
  color: hsl(35, 77%, 62%);
}
@media (min-width: 992px) {
  .navigation__list {
    top: 0;
    display: flex;
    justify-content: space-between;
  }
}
.navigation__input {
  display: none;
}
.navigation__label {
  height: 2em;
  width: 2.7em;
  background-image: url("../images/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .navigation__label {
    display: none;
  }
}

#toggle:not(:checked) ~ .navigation__list {
  visibility: hidden;
}
@media (min-width: 992px) {
  #toggle:not(:checked) ~ .navigation__list {
    visibility: visible;
  }
}

#toggle:checked ~ .navigation__list {
  visibility: visible;
}

#toggle:checked + .navigation__label {
  background-image: url("../images/icon-menu-close.svg");
}

@media (min-width: 992px) {
  .banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}
.banner__content {
  padding-bottom: 4em;
}
@media (min-width: 992px) {
  .banner__content {
    padding: 0;
    max-width: 65%;
    margin-right: 20px;
  }
}
.banner__content-img {
  display: block;
  width: 100%;
  height: auto;
}
.banner__content-info {
  padding-top: 1.53em;
}
@media (min-width: 992px) {
  .banner__content-info {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
  }
}
.banner__content-infoHeader {
  max-width: 7em;
  font-size: 2.67em;
}
@media (min-width: 992px) {
  .banner__content-infoParagraph {
    max-width: 23.3em;
  }
}
.banner__content-infoBtn {
  display: inline-block;
  padding: 0.67em 2.67em;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  margin-top: 2em;
}
@media (min-width: 992px) {
  .banner__content-infoBtn {
    margin-top: 3em;
  }
}
.banner__content-infoBtn:hover {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}
.banner__article {
  background-color: hsl(240, 100%, 5%);
  padding: 2.1em;
}

.card__header--medium {
  padding-bottom: 1.2em;
}
.card__header--orange {
  color: hsl(35, 77%, 62%);
}
.card__header--grey {
  color: hsl(233, 8%, 79%);
}
.card__header-link--white {
  color: hsl(36, 100%, 99%);
}
.card__header-link--white:hover {
  color: hsl(35, 77%, 62%);
}
.card__header-link--grey:hover {
  color: hsl(5, 85%, 63%);
}
.card__paragraph {
  margin-top: 0.67em;
}
.card__paragraph--grey {
  color: hsl(233, 8%, 79%);
}
.card__line {
  width: 100%;
  height: 0.06em;
  background-color: hsl(233, 8%, 79%);
  margin: 1.83em 0;
}

.articles {
  margin-top: 5.3em;
  width: 100%;
}
@media (min-width: 992px) {
  .articles {
    display: flex;
    margin-top: 0;
  }
}
.articles__block {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}
@media (min-width: 992px) {
  .articles__block {
    margin: 0;
  }
}
.articles__img {
  height: 9em;
  margin-right: 1.2em;
}
/*# sourceMappingURL=main.css.map */
