.articles {
  @media (min-width: $tablet) {
    display: flex;
  }
  &__block {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__img {
    display: inline-block;
    height: 9em;
  }
}
