.navigation {
  height: 6.7em;
  height: 6.67em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  &__logo {
    height: auto;
    background-image: url("/images/logo.svg");
  }
  &__block {
    display: flex;
    flex-direction: row-reverse;
  }
  &__list {
    position: absolute;
    right: 0;
    top: 6.5em;
    width: 60%;
    padding: 0 1.6em;
    padding-top: 2.66em;
    height: 100vh;
    &::after {
      content: "";
      position: absolute;
      left: -60%;
      top: 0;
      width: 60%;
      height: 100vh;
      background-color: $color-veryDarkBlue;
      opacity: 0.2;
      @media (min-width: $tablet) {
        display: none;
      }
    }

    &-link {
      line-height: 2.6em;
      &:hover {
        color: $color-softOrange;
      }
    }
    @media (min-width: $tablet) {
      top: 0;
      display: flex;
      justify-content: space-between;
    }
  }
  &__input {
    display: none;
  }
  &__label {
    height: 2em;
    width: 2.7em;
    background-image: url("/images/icon-menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: $tablet) {
      display: none;
    }
  }
}
#toggle:not(:checked) ~ .navigation__list {
  visibility: hidden;
  @media (min-width: $tablet) {
    visibility: visible;
  }
}
#toggle:checked ~ .navigation__list {
  visibility: visible;
}
#toggle:checked + .navigation__label {
  background-image: url("/images/icon-menu-close.svg");
}
