.card {
  padding: 0 1em 1.5em 1em;
  &__header {
    padding: 1.16em 0 0 0;

    &--orange {
      color: $color-softOrange;
    }
    &--white {
      color: $color-offWhite;
      &:hover {
        color: $color-softOrange;
        cursor: pointer;
      }
    }
    &--grey {
      color: $color-grayishBlue;
    }
    &--medium {
      font-size: 28px;
    }
  }
  &__paragraph {
    padding: 0.3em 0 1.26em 0;
    &--grey {
      color: $color-grayishBlue;
    }
    &:last-of-type {
      // padding-bottom: 2.49em;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $color-grayishBlue;
  }
}
