.card {
  &__header {
    &--medium {
      padding-bottom: 1.2em;
    }

    &--orange {
      color: $color-softOrange;
    }
    &--grey {
      color: $color-grayishBlue;
    }
  }
  &__header-link {
    &--white {
      color: $color-offWhite;
      &:hover {
        color: $color-softOrange;
      }
    }
    &--grey {
      &:hover {
        color: $color-softRed;
      }
    }
  }
  &__paragraph {
    margin-top: 0.67em;

    &--grey {
      color: $color-grayishBlue;
    }
  }

  &__line {
    width: 100%;
    height: 0.06em;
    background-color: $color-grayishBlue;
    margin: 1.83em 0;
  }
}
